<!-- Footer -->
<section id="footer" style="margin-top: 0">
  <div class="container">
    <div class="row text-center text-xs-center text-sm-left text-md-left">
      <div class="col-xs-12 col-sm-4 col-md-4">
        <h5>Our Services</h5>
        <ul class="list-unstyled quick-links">
          <li><a><i class="fa fa-angle-double-right"></i>24/7 Customer Service</a></li>
          <li><a ><i class="fa fa-angle-double-right"></i>Global Hospitality Standards</a></li>
          <li><a ><i class="fa fa-angle-double-right"></i>Rent Bikes</a></li>
          <li><a ><i class="fa fa-angle-double-right"></i>Travel Guide</a></li>
          <li><a ><i class="fa fa-angle-double-right"></i>Transpotation</a></li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4">
        <h5>Bike Categories</h5>
        <ul class="list-unstyled quick-links">
          <li><a ><i class="fa fa-angle-double-right"></i>Mountain Bikes</a></li>
          <li><a ><i class="fa fa-angle-double-right"></i>Scooter Bikes</a></li>
          <li><a ><i class="fa fa-angle-double-right"></i>Heavy Bikes</a></li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4">
        <h5>Contact Us</h5>
        <ul class="list-unstyled quick-links">
          <li><a><i class="fa fa-angle-double-right"></i>Mobile : (+94) 768576015</a></li>
          <li><a ><i class="fa fa-angle-double-right"></i>Tel : 091 - 123456789</a></li>
          <li><a ><i class="fa fa-angle-double-right"></i>Email : desmodiumtours@gmail.com</a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
        <ul class="list-unstyled list-inline social text-center">
          <li class="list-inline-item"><a ><i class="fa fa-facebook"></i></a></li>
          <li class="list-inline-item"><a ><i class="fa fa-twitter"></i></a></li>
          <li class="list-inline-item"><a ><i class="fa fa-instagram"></i></a></li>
          <li class="list-inline-item"><a ><i class="fa fa-google-plus"></i></a></li>
          <li class="list-inline-item"><a  target="_blank"><i class="fa fa-envelope"></i></a></li>
        </ul>
      </div>
      <hr>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
        <p><u><a href="https://www.nationaltransaction.com/">Desmodium Tours</a></u> is a the best traveller account in Hikkaduwa</p>
        <p class="h6">& All right Reversed.<a class="text-green ml-2" href="https://www.sunlimetech.com" target="_blank">Desmodium</a></p>
      </div>
      <hr>
    </div>
  </div>
</section>
<!-- ./Footer -->
